@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.helpButtonContainer {
    margin-top: 25px;
    margin-left: 15px;
    position: absolute;
    bottom: 20%;
    right: 2.5%;
}

.helpButtonStyle {
    color: gray;
}

.helpInfoContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    background: rgb(32, 38, 39);
    bottom: 22.5%;
    right: 2.5%;
    z-index: 1;
}

.helpInfoStyle {
    font-family: Raleway;
    color: gray;
    resize: none;
    padding: 20px;
    height: 550px;
    width: 550px;
    text-align: left;
}